*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-bannar{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.container-1{
    display: flex;
    margin: 0 5%;
    
}
h1{
    font-size: 32px;
    margin:2% 0;
}
span{
    color: orangered;
}
.half-width{
    width: 40%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.half-width img{
 width: 100%;;
}
p{
    text-align: justify;
}
.btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 13%;
    margin-top: 20px;
    
}

.half-width-1{
    width: 40%;
    padding: 5% 5%;
    
    justify-content: center;
}
.half-width-1 p{
    margin-bottom: 20px;
}
.experience{
    display: flex;
    
    width: 100%;
}
.ex-con h1:nth-child(1){
    text-align: center;
    margin-top: 0%;
}
.experience div{
    box-shadow: 5px 7px 40px gray;
    margin: 2% auto;
}
.exp-div{
   display: flex;
   flex-direction: column;
  box-shadow: 2px 2px 2px 2px;
  padding: 5% 5%;
  width: 30%;
}
.exp-div h2{
    margin-bottom: 20px;
    font-size: 32px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
footer{
    display: flex;
    justify-content: center;
    margin: 5% 5%;
}
.ex-con{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}