*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-bannar{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.container-1{
    display: flex;
    margin: 0 5%;
    
}
h1{
    font-size: 32px;
    margin:2% 0;
}
span{
    color: orangered;
}
.half-width{
    width: 40%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.half-width img{
 width: 100%;;
}
p{
    text-align: justify;
}
.btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 15%;
    margin-top: 20px;
    
}